body {
  text-align: center;
  background-color: #ffff99;
}

div {
  margin: auto;
  margin-top: 100px;
  background-color: #cccc00;
  color:black;

  text-shadow: #ff9933;
  width: 100px;

}

input{
  margin: auto;
  width:50px;
  background-color: #fff2e6;
  border-radius: 25%;
  display: block;

}

button {
  margin: auto;
  width: 60px;
  font-size: 10px;
  background-color: #fff2e6;
}
