
<p> hey, do a word puzzle </p>
<form action="/puzzle" method="get">
  <input id="originalString" type="text" name="inPuzzle">

  <button id="originalSubmit" type="submit">Hide the vowels</button>
</form>
